h3{
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    display: flex;
    justify-content: center;
    margin: 0;

}

main{
    margin: 0;
    width: 100%;
}

.icone{

    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 60px;
    border: 2px solid #FFF;
    background: #0B0C0D;
    
}

.title3{
    color: #FFF;
    text-align: left;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    display: flex;
    justify-content: left;
    margin: 0;
    width: 100%;
}

.icone:hover{
    background: #27292b;
    
}

.hint{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #171819;
    gap: 0px;
}

.obj{
    color: #cfcfcf;
    font-size: 16px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: fit-content;
    padding: 0 16px;
}

.everything2 {
    margin: 0 auto;
    padding: 0 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 32px;
   
 
  }

  section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .spacing{
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    }

  aside{
    display: flex;
    width: 367px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: fixed;
    top: 75px;
    right: 250px;
  }

  .project2 {
    display: flex;
    width: fit-content;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    border-radius: 16px;
    background: #1d1e20;
  }
  
  .project2:hover {
    background: #2d2e31;
  
  }

  .mobile{
    display: none;
}

.title2{
    color: #fff;
    font-size: 16px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    width:fit-content;
    padding: 0;

}


.hintuser{

    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #171819;

    
}

.trio{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 24px;
}

.percentage{
    display: flex;
    flex: 1 1 20%;
    align-items: center;
    gap: 16px;
}

.highlight{
   padding-top: 100px;
    border-radius: 24px;

}

.cover{
    width: 100%;
    border-radius: 24px;
}


.allsteps{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: fit-content;
}

.circulo{
    display: flex;
    padding: 24px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    border-radius: 100px;
    background: #171819;
}

.card{
    display: flex;
    width: fit-content;
    padding: 24px 32px;
    align-items: center;
    justify-content: center;
    gap: 32px;

    border-radius: 24px;
    background: #171819;
}

.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.cardtext{
    color: #cfcfcf;
    font-size: 16px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.cuteicon{
    width: 60px;
}

.buttonwpp2 {
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.30);
    padding: 12px 48px;
    display: flex;
    justify-content: center;
    width:275px;
    gap: 8px;
  
  }

  .buttonwpp2:hover {

    background-color: #222527;
  }
  
  .buttonwpp2:active {
    background-color: #292b2e;
  }

  .image{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
  }

  .logoresize{
    width:35%;

  }
  
  .subt{

    color: #cfcfcf;
    font-size: 12px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
    text-align: center;
  }

  
  .buttoncall{
    width: 100%;
    display: flex;
    justify-content: center;
  }

     

  .link2{
    color: #171819;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    border-radius: 40px;
    background-color: #fff;
    padding: 12px 48px;
    text-align: center;
    gap: 8px;
  }

  .buttonup{
    display: none;
  }

  .card2{
    display: flex;
    width: fit-content;
    padding: 16px 24px;
    align-items: center;
    justify-content: center;
    gap: 32px;

    border-radius: 24px;
    background: #171819;

  }

  .subt1{

    color: #cfcfcf;
    font-size: 12px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
    text-align:right;
  }


@media only screen and (max-width: 904px){


    h3{
        font-size: 24px;
    }

    

}

@media only screen and (max-width: 1850px){

    .spacing{
        width: 520px;
        
        }
    
}

@media only screen and (max-width: 1750px){

    .spacing{
        width: 540px;
        
        }
    
}

@media only screen and (max-width: 1650px){

    .spacing{
        width: 560px;
        
        }
    
}

@media only screen and (max-width: 1550px){

    .spacing{
        width: 580px;
        
        }

    .project2{
        
    padding: 16px 24px;
    }

    .circulo{
        padding: 16px 32px;
        
    }
    


    
}

@media only screen and (max-width: 1450px){
    .spacing{
        width: 600px;
        
        }
    
}

@media only screen and (max-width: 1380px){
    
    .spacing{
        display: none;
        
        }
    
    aside{
            display: none !important;

            
    }

    .everything2 {
        margin: 0 auto;
        padding: 0 24px;
    }

    .mobile{
        gap: 24px;
        display: flex;
        flex-direction: column;
    }
    
    
    
    .obj{
        padding: 0  16px;
    }

    .buttonup{
        position: fixed;
        bottom: 24px;
        right: 24px;
        display: flex;
        width: 32px;
        height: 32px;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-radius: 60px;
        border: 2px solid #FFF;
        background: #0B0C0D;
                
      }

}

@media only screen and (max-width: 800px){

    .card2{
        padding: 16px 16px;
    }


    .buttonup{
        width: 16px;
        height: 16px;
    }

    h3{
        font-size: 24px;
    }

    .title3{
        font-size: 24px;
    }

    .hintuser{
        width: 100%;
    }
    
    .trio{
        display: flex;
        flex-direction: column;
        align-items: left;
        align-content: center;
        justify-content: center;
        gap: 24px;
        flex-wrap: nowrap;
        padding: 24px;
    }   

    }

    @media only screen and (max-width: 600px){

        .everything2 {
            margin: 0 auto;
            padding: 0 16px;
        }

        .allsteps{
            gap: 12px;
        }

        .circulo{
            padding: 8px 20px;
        }

        .card{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

        .person{
            gap: 0px;
        }
        
        .personpic{
            width: 80%;
        }

        .cardtext{
            text-align: center;
        }
    }